@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
</div>*@

<h1 style="text-align: center;">Bermuda Split</h1>
<h2 style="text-align: center;">Enjoy time with friends easier!</h2>

<div class="row">

    <select>
        <option>US Dollars</option>
        <option>UK Pounds</option>
    </select>

    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td><input placeholder="Person 1" value="Bill" /></td>
                <td><input placeholder="Total Amount Paid" value="200" /></td>
            </tr>
            <tr>
                <td><input placeholder="Person 2" value="Sarah" /></td>
                <td><input placeholder="Total Amount Paid" value="100" /></td>
            </tr>
            <tr>
                <td><input placeholder="Person 2" value="Ted" /></td>
                <td><input placeholder="Total Amount Paid" value="300" /></td>
            </tr>
        </tbody>
    </table>

    <h1>Total Cost of Vacation: 600</h1>

    <h2>Assuming each person has paid an even split with everyone, our balances come to</h2>

    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td><input placeholder="Person 1" value="Bill" /></td>
                <td><input placeholder="Total Amount Paid" value="0" /></td>
            </tr>
            <tr>
                <td><input placeholder="Person 2" value="Sarah" /></td>
                <td><input placeholder="Total Amount Paid" value="100" /></td>
            </tr>
            <tr>
                <td><input placeholder="Person 2" value="Ted" /></td>
                <td><input placeholder="Total Amount Paid" value="-100" /></td>
            </tr>
        </tbody>
    </table>

    <h2>Here is a list of how much each person owes to who</h2>
    
    <ul>
        <li>Bill's balance is even!</li>
        <li>Sarah owes Ted $100.00</li>
        <li>Ted is owed $100.00 by Sarah.</li>
    </ul>
    
    

</div>